body, html {
  overflow-x: hidden;
  background-color: #000;
}

::-webkit-scrollbar {
    display: none;
}

* {
  color: white;
  font-family: helvetica, sans-serif;
  margin: 0;
}

#everything {
  width: 100%;
  height: auto;
  position: relative;
}

#fixed-crap {
  margin-top: -75px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index:342985729837459237495879234875;
  pointer-events: none;
}

#fixed-crap-relative-thing {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#header-outer {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0;
  pointer-events: auto;
  background-color: #1F1F1F;
  box-shadow: 0 0 10px 5px #000;
}

#header-outer a {
  font-weight: 100;
}

#header-logo {
  height: 75px;
  width: auto;
  position: absolute;
  left: 10px;
  display: inline-block;
}

#header-ip {
  font-size: 1vw;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  position: absolute;
  top: 60px;
  left: 100px;
}

#header-right-outer {
  position: absolute;
  right: 10px;
  display: inline-block;
  height: 100%;
  width: 500px;
  text-align: right;
  line-height: 75px;
  margin-bottom: 0;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.header-link, .header-link-dropdown {
  display: inline-block;
  line-height: 85px;
  vertical-align: middle;
  font-size: 2vw;
  font-weight: 100;
  text-decoration: none;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 100%;
  opacity: 0.75;
  margin-top: -10px;
  border-bottom: 0px solid #4CB4C3;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.header-link:hover, .header-link:focus, .header-link.selected {
  opacity: 1;
  color: #4CB4C3;
  border-bottom: 10px solid #4CB4C3;
}

.header-link:active {
  border-bottom: 10px solid #FFF;
}

.dropdown-outer a:hover, .header-link-dropdown:hover {
  opacity: 1;
  color: #4CB4C3;
}

.header-arr {
  font-size: 1vw;
}

.header-link-dropdown {
  cursor: pointer;
  height: 100%;
  pointer-events: auto;
  margin-right: 2vw;
}

.dropdown-outer {
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px solid #1F1F1F;
  top: 75px;
  right: 1vw;
  width: 15vw;
  height: 90px;
  max-height: 0;
  pointer-events: none;
  overflow-y: hidden;
  background-color: #3D3D3D;
  position: absolute;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.dropdown-outer.shown {
  max-height: 90px;
  pointer-events: auto;
  padding-top: 10px;
  margin-top: -10px;
  border-top: 10px solid #1F1F1F;
}

.dropdown-outer a {
  display: block;
  font-size: 1.5vw;
  font-weight: 100;
  text-decoration: none;
  border-left: 0px solid #4CB4C3;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  opacity: 0.75;
  margin-right: 5px !important;
  margin-left: 0px !important;
  text-align:right;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.dropdown-outer a:hover, .dropdown-outer a.selected {
  border-left: 10px solid #4CB4C3;
  color: #4CB4C3;
}

.dropdown-outer a:active {
  border-left: 10px solid #FFF;
}

#content-outer-outer {
  width: 100vw;
  margin-top: 75px;
  position: relative;
  background-color: #1F1F1F;
}

#top-header {
  background-color: #4CB4C3;
  width: 100vw;
  height: 300px;
  background-image: url('photos/general/3.png');
  background-size: cover;
  background-position: 50% 50%;
}

#header-h1 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  text-align: center;
  line-height: 300px;
  vertical-align: middle;
  display: block;
  font-size: 15vw;
  font-weight: 100;
  color: #FFF;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1f1f1f+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(31,31,31,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(31,31,31,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(31,31,31,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(31,31,31,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(31,31,31,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(31,31,31,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */

  text-shadow: -1px -1px #19464D;
}

#content-outer {
  width: 100vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 25px;
  background-color: #1F1F1F;
}

#content-outer p {
  font-size: 30px;
}

.testimony-img, #xinabox-head {
  width: 50%;
  cursor: pointer;
  margin-left: 25%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: all 250ms cubic-bezier(0.385, 0.010, 0.100, 1); /* older webkit */
-webkit-transition: all 250ms cubic-bezier(0.385, 0.010, 0.100, 1.530);
   -moz-transition: all 250ms cubic-bezier(0.385, 0.010, 0.100, 1.530);
     -o-transition: all 250ms cubic-bezier(0.385, 0.010, 0.100, 1.530);
        transition: all 250ms cubic-bezier(0.385, 0.010, 0.100, 1.530); /* custom */
}

.testimony-img:hover, #xinabox-head:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
}

.testimony-img-p {
  font-size: 1.5vw !important;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

#testimonies table {
  min-height: 200px;
}

#testimonies tr > td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.test-arr {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  position: relative;
  left: 71.15vw;
  top: 40px;
}

.testimony {
  border: 2px solid #ADADAD;
  background-color: #333;
  border-radius: 10px;
  line-height: 100%;
  min-height: 150px;
}

.testimony p {
  margin: 10px;
  font-weight: 100;
  font-size: 20%;
  line-height: 150%;
  position: absolute;
}

.paragraph, #testimonies {
  width: 100%;
  clear: both;
  height: auto;
}

.paragraph table img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  box-shadow: 0 0 5px #FFF;
}

.paragraph-background {
  background-image: url('photos/general/9.png');
  background-position: 50% 50%;
  background-size: cover;
}

.paragraph-background h1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.paragraph-p {
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2d2d+0,000000+100&amp;0.65+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(45,45,45,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(45,45,45,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(45,45,45,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(45,45,45,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(45,45,45,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62d2d2d', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  border-style: solid;
  border-width: 2px;
  -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(#adadad), to(rgba(173, 173, 173, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(#adadad, rgba(173, 173, 173, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#adadad, rgba(173, 173, 173, 0)) 1 100%;
  -o-border-image:
    -o-linear-gradient(#adadad, rgba(173, 173, 173, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, #adadad, rgba(173, 173, 173, 0)) 1 100%;
}

.paragraph-text {
  width: 90%;
  font-size: 2vw !important;
  margin-left: auto;
  margin-right: auto;
}

.important {
  font-weight: 900;
  color: #85CBD6;
}

.rules-link {
  color: #C2E5EB;
  cursor: pointer;
  text-decoration: underline;
  border-left: 0px solid #47B1C2;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.rules-link:hover {
  color: #47B1C2;
  border-left: 10px solid #47B1C2;
}

#content-outer h1 {
  font-family: "helvetica", sans-serif;
  font-weight: 100;
  color: #FFF;
  text-align: center;
  font-size: 75px;
  text-shadow: -1px -1px 5px #0A1C1F;
}

#carousel-outer {
  height: 500px;
  width: 100%;
  overflow: hidden;
  display: block;
  visibility: visible;
  position: relative;
  background-color: #4CB4C3;
  border-bottom: 4px solid #4CB4C3;
  box-shadow: 0 5px 10px #4CB4C3;
  z-index:100;
  background-image: url('photos/general/1.png');
  background-size: cover;
  background-position: 50% 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#carousel-gradient, #carousel-text, #carousel-buttons {
  height: 100%;
  width: 100%;
  position: absolute;
}

#carousel-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.55+0,0+99,0.41+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 99%, rgba(0,0,0,0.41) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.55)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.41))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0.41) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0.41) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0.41) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0.41) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#69000000',GradientType=0 ); /* IE6-9 */
}

#carousel-text {
  position: relative;
}

#carousel-h1, #carousel-p {
  opacity: 1;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

#carousel-h1 {
  font-weight: 900;
  font-size: 7vw;
  text-align: center;
}

#carousel-p {
  margin-top: 15px;
  text-align: center;
  font-size: 3vw;
  font-weight: 500;
}

.hr {
  width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 2px !important;
  left: 0;
  right: 0;
  background-color: #ADADAD;
}

.hr-blue, .hr-header {
  background-color: #4CB4C3 !important;
}

.hr-header {
  margin-top: -20px;
}

.hr-margin-top {
  margin-top: 150px;
}

.hr-margin-bottom {
  margin-bottom: 25px !important;
}

.hr-margin-top-less {
  margin-top: 50px;
}

.hr-full {
  width: 100% !important;
}

#carousel-buttons {
  height: 25px;
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px inset #000;
  z-index:1000;
}

.carousel-button {
  display: inline-block;
  margin-left: -1% !important;
  margin-right: -1% !important;
  position: relative;
  height: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  line-height: 25px;
  vertical-align: baseline;
  cursor: pointer;
}

.carousel-button-graphics {
  background-color: #4CB4C3;
  height: 20%;
  width: 100%;
  line-height: 25px;
  position: absolute;
  bottom: 0;
  margin: 0 !important;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.carousel-button:hover .carousel-button-graphics {
  height: 75%;
}

.carousel-button:active .carousel-button-graphics, .carousel-button.active .carousel-button-graphics {
  height: 100%;
}

#footer-outer {
  clear: both;
  position: relative;
  background-color: #0A1C1F;
  width: 100vw;
  height: 150px;
}

#footer-logo {
  width: 25vw;
  height: auto;
}

#footer-outer p, a, h6 {
  font-weight: 100;
  font-size: 1.5vw;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: left !important;
  margin-left: 50px;
}

#footer-outer h6 {
  font-weight: 900 !important;
  font-size: 2vw;
}

#footer-outer a {
  text-decoration: none;
  color: #C2E5EB;
  border-left: 0px solid #4CB4C3;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

#footer-outer a:hover {
  border-left: 10px solid #4CB4C3;
  color: #4CB4C3;
}

/*gallery*/

#gallery-outer {
  height: 600px;
  border: 1px solid #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

#gallery-top {
  height: 100px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  background-color: #333;
  border-bottom: 2px solid #FFF;
}

#gallery-top * {
  display: inline-block;
}

.gal-prev {
  background-image: url('photos/gallery/1.png');
  background-size: 100% auto;
  background-position: 50% 50%;
  height: 100%;
  margin: 0;
  width: 200px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #FFF;
  margin-left: -1%;
  /*margin-right: -1%;*/
  position: relative;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.gal-prev-overlay {
  pointer-events: none;
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  cursor: pointer;
  background-color: #4CB4C3;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.gal-prev:hover {
  background-size: 125% auto;
}

.gal-prev:hover .gal-prev-overlay, .gal-prev.selected .gal-prev-overlay {
  height: 20%;
}

.gal-prev:active .gal-prev-overlay {
  height: 100%;
  background-color: #FFF;
}

#gallery-bottom {
  height: 500px;
  width: 100%;
  overflow: hidden !important;
}

#gallery-bottom div {
  height: 498px;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  overflow: hidden;
}

#gallery-bottom-blurred {
  height: 498px !important;
  width: 95% !important;
  background-image: url('photos/gallery/1.png');
  filter: blur(10px);
  -webkit-filter: blur(20px);
  background-size: cover;
  background-position: 50% 50%;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#gallery-bottom-img, #gallery-bottom-buttons {
  width: 95%;
  background-image: url('photos/gallery/1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#gallery-bottom-buttons {
  background-image: url('');
  background-color: transparent;
  position: relative;
}

#gallery-bottom-mask {
  height: 498px !important;
  width: 95% !important;
  opacity: 0.5;
  background-color: #000;
}

.gallery-arr {
  height: 5vw;
  bottom: 5vh;
  width: auto;
  opacity: 0.5;
  border-left: 0px solid #4CB4C3;
  cursor: pointer;
  position: absolute;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.gallery-arr:hover {
  opacity: 1;
  border-left: 5px solid #4CB4C3;
}

.gallery-arr:active {
  border-left: 15px solid #4CB4C3;
}

#gallery-arr-left {
  left: 0vw;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

#gallery-arr-right {
  right: 0vw;
}


/*games*/


#content-left-outer {
  height: 55vh;
  width: 20vw;
  margin-left: -21vw;
  position: fixed;
  float: left;
  display: inline-block;
  border-right: 2px solid #4CB4C3;
  top: 20%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index:439857298;
}

#content-left-outer.shown {
  margin-left: 0vw;
}

#content-left-upper {
  width: 100%;
  height: 10vh;
  background-color: #333;
  margin-bottom: 100px;
  white-space: nowrap;
}

#content-right-outer {
  clear: both;
  height: auto;
  width: 100vw;
  /*margin-right: 2.5vw;*/
  position: relative;
  float: right;
  display: inline-block;
}

.game-prev, .game-prev-upper {
  display: block;
  width: 100%;
  height: 10vh;
  margin: 0;
  cursor: pointer;
  background-position-y: 0px;
  background-position-x: 50%;
  background-size: 200% auto;
}

.game-prev-upper {
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-left: -0.175vw;
  margin-right: -0.175vw;
  white-space: nowrap;
  background-position-y: 50%;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

#game-prev-outer {
  width: 100%;
  height: auto;
  margin-top: 2.5vh;
  box-shadow: 0 0 20px 5px #000000,
}

#hg-prev, #hg-prev-upper {
  background-image: url('photos/games/hg.png');
}
#factions-prev, #factions-prev-upper {
  background-image: url('photos/games/factions.png');
}
#plots-prev, #plots-prev-upper {
  background-image: url('photos/games/plots.png');
}
#prison-prev, #prison-prev-upper {
  background-image: url('photos/games/prison.png');
}
#boxcraft-prev, #boxcraft-prev-upper {
  background-image: url('photos/games/boxcraft.png');
}

.game-prev h1, .game-prev-upper h1 {
  margin: 0;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
  font-size: 2.5vw !important;
  text-align: left !important;
  line-height: 10vh;
  vertical-align: middle;
  border-left: 0px solid #4CB4C3;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.game-prev-upper h1 {
  font-size: 3vw !important;
  text-align: center !important;
}

.game-prev:hover h1, .game-prev.selected h1 {
  border-left: 10px solid #4CB4C3;
  color: #4CB4C3 !important;
  background-color: rgba(76, 180, 195, 0.2);
  text-shadow: 0 0 2px #000;
}

.game-prev-upper:hover h1 {
  color: #4CB4C3 !important;
  background-color: rgba(76, 180, 195, 0.2);
}

.game-prev-upper:hover {
  background-size: 150%;
}

.game-outer {
  width: 100%;
  height: 90vh;
  margin: 0;
  background-size: cover;
  background-position: 50% 50%;
}

#hg {
  background-image: url('photos/games/hg.png');
}
#factions {
  background-image: url('photos/games/factions.png');
}
#plots {
  background-image: url('photos/games/plots.png');
}
#prison {
  background-image: url('photos/games/prison.png');
}
#boxcraft {
  background-image: url('photos/games/boxcraft.png');
}

.game-inner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1f1f1f+85&amp;0+34,1+95 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(12,12,12,0) 34%, rgba(31,31,31,0.84) 85%, rgba(31,31,31,1) 95%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(34%,rgba(12,12,12,0)), color-stop(85%,rgba(31,31,31,0.84)), color-stop(95%,rgba(31,31,31,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(12,12,12,0) 34%,rgba(31,31,31,0.84) 85%,rgba(31,31,31,1) 95%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(12,12,12,0) 34%,rgba(31,31,31,0.84) 85%,rgba(31,31,31,1) 95%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(12,12,12,0) 34%,rgba(31,31,31,0.84) 85%,rgba(31,31,31,1) 95%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(12,12,12,0) 34%,rgba(31,31,31,0.84) 85%,rgba(31,31,31,1) 95%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1f1f1f',GradientType=1 ); /* IE6-9 */

}

.game-inner * {
  text-align: right !important;
  width: 50%;
  float: right;
  position: relative;
  display: block;
  clear: both;
  margin-right: 2vw;
}

.game-h1 {
  font-weight: 900 !important;
  font-size: 5vw;
  white-space: nowrap;
  width: 100%;
  margin-right: 2vw;
}

.game-hr {
  background-color: #4CB4C3;
}

.game-hr-mini {
  background-color: #4CB4C3 !important;
  width: 40%;
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ranks {
  font-size: 2vw !important;
  white-space: nowrap;
  text-align: left !important;
}

.game-desc {
  font-size: 1.5vw !important;
}

.vip {
  font-weight: 900;
  color: #55FF55;
  width: auto;
  float: left;
}

.mvp {
  font-weight: 900;
  color: #5555FF;
  width: auto;
  float: left;
}

.pro {
  font-weight: 900;
  color: #FFAA00;
  width: auto;
  float: left;
}

.vip::before, .mvp::before, .pro::before {
  content: "\25FC";
  font-weight: 100 !important;
}


/*staff*/

#content-left-outer-s {
  width: 25vw;
  float: left;
  display: inline-block;
  height: 85vh;
  overflow-y: scroll;
  border-right: 1px solid #4CB4C3;
}

#content-right-outer-s {
  width: 74.5vw;
  display: inline-block;
  height: 85vh;
}

.box-h1 {
  font-weight: 900 !important;
  font-size: 3vw !important;
  text-align: left !important;
  width: 100%;
}

#left-admins h1 {
  color: #FF5555;
  background-color: rgba(255, 85, 85, 0.2)
}
#left-devs h1 {
  color: #FFFF55;
  background-color: rgba(255, 255, 85, 0.2)
}
#left-mods h1 {
  color: #AA00AA;
  background-color: rgba(170, 0, 170, 0.2);
}
#left-chatmods h1 {
  color: #FF55FF;
  background-color: rgba(255, 85, 255, 0.2)
}
#left-builder h1 {
  color: #00AA00;
  background-color: rgba(0, 170, 0, 0.2);
}
#left-other h1 {
  color: #AAAAAA;
}

.player-prev {
  height: 50px;
  width: 100%;
  border-top: 1px solid #5C5C5C;
  border-bottom: 1px solid #5C5C5C;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 0 0 0 inset rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 inset rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 inset rgba(0, 0, 0, 0);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.player-prev:hover, .player-prev.selected {
  border-top: 5px solid #4CB4C3;
  border-bottom: 5px solid #4CB4C3;
  background-color: #474747;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.7);
}

.player-prev:hover p {
  color: #4CB4C3 !important;
  border-left: 20px solid #4CB4C3;
  background-color: rgba(76, 180, 195, 0.2);
}

.player-prev:active {
  background-color: #FFF;
}

.player-prev-img {
  height: 40px;
  width: auto;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.vert-hr {
  height: 60%;
  width: 2px;
  background-color: #4CB4C3;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.player-prev-name {
  font-size: 2vw !important;
  text-align: left;
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
  border-left: 0px solid #4CB4C3;
  width: 69%;
  background-color: transparent;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

#right-background {
  background-color: #333333;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  overflow: hidden;
  position: absolute;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#right-background-inner {
  background-image: url('aoeufhiuawhfihoaw.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#right-content {
  position: relative;
  height: 100%;
  width: 101%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f1f1f+0,000000+100&amp;1+21,0+100 */
  background: -moz-linear-gradient(-45deg,  rgba(31,31,31,1) 0%, rgba(24,24,24,1) 21%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(31,31,31,1)), color-stop(21%,rgba(24,24,24,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(31,31,31,1) 0%,rgba(24,24,24,1) 21%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(31,31,31,1) 0%,rgba(24,24,24,1) 21%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(31,31,31,1) 0%,rgba(24,24,24,1) 21%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(31,31,31,1) 0%,rgba(24,24,24,1) 21%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#right-content * {
  transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
}

#right-content-upper {
  height: 24vh;
  background-color: green;
  border-bottom: 1px solid #4CB4C3;
  width: 100%;
  line-height: 24vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f2a2e+0,000000+100&amp;0.7+0,0+100 */
background: -moz-linear-gradient(left,  rgba(15,42,46,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,42,46,0.7)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(15,42,46,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(15,42,46,0.7) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(15,42,46,0.7) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(15,42,46,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30f2a2e', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.player-img {
  width: 20vh;
  height: auto;
  vertical-align: middle;
  margin-left: 3vh;
  margin-right: 3vh;
  display: inline-block;
}

.top-info-outer {
  height: 20vh;
  vertical-align: middle;
  width: auto;
  display: inline-block;
}

.info-hr {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.name {
  text-align: center;
  font-size: 9vh !important;
  font-weight: 900 !important;
  display: block;
  line-height: 10vh;
}

.roles {
  text-align: center;
  font-size: 5vh !important;
  font-weight: 500 !important;
  display: block;
  line-height: 5vh;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.quote {
  display: block;
  opacity: 0.5 !important;
  font-size: 4vh !important;
  line-height: 5vh;
}

.bio {
  font-size: 5vh !important;
  line-height: 5vh;
  margin-top: 2.5vh;
  display: block;
  margin-left: 1vw;
}
